@mixin form--basic {
  margin-top: 20px;
  background-color: #212529;

  [class*="-form"] {
    padding: 5px;

    .form-group {
      &:last-child {
        margin-bottom: 0;
      }

      label {
        color: white;
      }
    }
  }
}
